.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

a.link_phone_mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        flex-direction: row-reverse !important;
    }
}

a.nav-link {
    color: #fff;
    margin: 0 10px;
    font-size: 1rem !important;
    cursor: pointer !important;
   
}