.MyLogo {
    position: relative;
    /* background-color: yellow; */
    padding: 10px;
}


.logo_item {
    width: 45px;
    right: 0;
}

.top {
    position: absolute;
    z-index: 20;
    top: 20px;
}

.bottom {
    position: absolute;
    z-index: 15;
    top: -15px;
}