.Fag {
    padding: 100px 0;
}

.accordion-item {
    margin-top: 2px;
}

.accordion-button {
    font-size: 1rem;
    color: #363636;
}

.title_section {
    color: #002077;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    width: fit-content;
    width: moz-fit-content;
    margin: 40px auto;
}


.border_bottom {
    background-color: #707070a9;
    width: 100%;
    height: 1px;
    margin: 5px auto;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.main_content {}


.main_content .card {
    background-color: #fff;
    padding: 15px;

}

.card {
    position: relative;
}

.card img {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: red;
    top: -30px;
    left: 15px;
    border-radius: 50%;
}

.card_body {}

.card_title {
    color: #999999;
    font-size: 1rem;
    margin: 20px 0;
}

.body_footer {
    display: flex;
    align-items: center;
}

.body_line {
    background-color: #FE5722;
    height: 2px;
    width: 45px;
    margin-right: 15px;
}

.body_footer span {
    color: #133D67;
    font-weight: 600;
}

.logo_brand_img {
    position: relative;
    z-index: 100;
    max-width: 120px;
}

.Our_Project {
    position: relative;
}

.main_content_slider_accordion {
    background-color: #F6F9FF;
    padding: 80px 0;
}

.Our_Project::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100px;
    height: 100px;
    left: 47%;
    bottom: -60px;
    clip-path: polygon(0 0, 49% 100%, 98% 0);
}

.menu_brand {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 50px;
    align-items: center;
    justify-content: space-evenly;

}

.brand_item {}

@media screen and (max-width:769px) {
    .Our_Project::before {
        left: 37% !important;
    }

    .footer_form {
        padding: 10px 1px !important;
    }


}

@media screen and (max-width:576px) {
    .form_container .wrapper {
        padding: 50px 0 !important;
    }

    .Fag {
        padding: 0 !important;
    }

    .menu_brand {
        column-gap: 100px !important;
        padding: 0 !important;
    }
}

/* =======================card hover */

.slider_project .card_project {
    position: relative;
    min-height: 250px;
    overflow: hidden;
}

.card_project:hover .card_hover {
    opacity: 1;
    visibility: visible;
}
.card_project:hover .card_title{
    display: none;
}

.card_background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.slider_project .card_title {
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: #002077d9;
    color: #fff;
    border-radius: 15px;
}

.card_hover {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: #a0811cd4;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .2s all;
    overflow-y: auto;
}

.hover_title {
    color: #fff;
}

.slider_project .subTitle {}

.hover_link {
    text-decoration: none;
    color: #E8BF3B;
}