.footer_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Footer {
    background-color: #002077;
}

.Footer h5 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.sosial {
    padding: 10px;

}

.sotial_link {}

.sosial a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #03A9F5;
}


.footer_links {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 2.5rem;
}

.footer_logo .logo {
    display: flex;
    flex-direction: column;
}

.footer_logo .logo img {
    width: 45px;
}

.Footer_links_container {}

.link_item {}

.link_target {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 1rem;
    display: block;
}

.logo_top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: #fff;
}

p.subTitle {
    color: #fff;
    margin-top: 20px;
}

.img2 {
    margin-top: -8px;
}

/* footer form */
.footer_form {
    height: 100vh;
    background: url('./../../images/background-footer.png'), rgb(4, 4, 240);
    background-position: center;
    background-size: cover;
    padding: 90px;
    overflow: hidden;
}

.btn_form {
    border-radius: 18px !important;
    color: #fff;
}


.form_title {
    color: #fff;
    font-size: 1.5rem;


}

.form_desc {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 50px;
}

.form_desc p {
    flex-basis: 70%;

}

.form_container {
    background: url('./../../images/background_form.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.form_container::before {
    position: absolute;
    content: '';
    background-color: #025bb4c4;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    z-index: 100;
    padding: 50px;
}


.form_email {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.form_input {
    width: 100%;
    border: none;
    outline: none;
    position: absolute;
    padding: 10px 20px;
    color: #16181ed0;
    border-radius: 15px;
}

.btn_email {
    position: absolute;
    right: 5px;
    top: 2.5px;
    border-radius: 15px !important;

}

/* // TODO debug responsive form */
@media screen and (max-width:992px) {
    .form_email {
        width: 80% !important;

    }

    .form_desc p {
        flex-basis: 50%;
    }

    .form_desc {
        flex-direction: column;
        margin: 20px 0;
    }
}

@media screen and (max-width:769px) {
    .footer_bottom {
        flex-direction: column !important;
    }

    .sosial {
        padding: 0px 0 20px 0 !important;
    }

    .footer_links {
        flex-direction: column !important;
        padding: 0px !important;
    }

    .footer_bottom {
        margin-top: 25px;
    }

    .footer_logo {
        padding: 30px !important;
    }

    .form_email {
        width: 99% !important;

    }

    .btn_email {
        right: 0 !important;
        width: 100% !important;
        top: 50px;
        margin: 0 auto;
    }

    .link_target {
        margin-top: .4rem !important;
    }

    .wrapper .title {
        margin-bottom: 30px;
    }

    .wrapper .subTitle {
        margin-bottom: 30px;

    }

    .footer_form {
        padding: 90px 10px !important;
    }

    .form_desc,
    .form_title {
        padding: 0 10px !important;
    }

    .wrapper {
        padding: 10px !important;
    }
}